.deliver-card{
    background: $brand-white;
    padding: 30px;
    width: 27.33%;
    float: left;
    margin: 20px;
    position: relative;
    min-height: 235px;
    @include transition;
    box-shadow:  0 8px 14px 0 rgba(0, 0, 0, 0.03);
    .img-wrap{
        @include opacity(0);
        position: absolute;
        right: 0px;
        top: 0px;
        @include transition;
    }
    .more{
        position: absolute;
        right: 40px;
        @include opacity(0);
        @include transition;
    }
    h3 a{
        color: #d6e4ef;
        position: absolute;
        bottom: 50px;
    }
    &:hover::before{
        @include opacity(1);
    }
    &:hover{
        background: $hover-color;
    }
    &:hover i {
        color: $brand-white;
    }
    &:hover span{
        @include opacity(1);
        right: 30px;
    }
    &:hover .img-wrap{
        @include opacity(1);
    }
    &:last-child{
        background: transparent;
         border:   8px solid #d6e4ef;
         a, i{
             color: $brand-white;
         }
    }
}
.delivered-section{
    padding: 120px 0;
    .deliver-heeader{
        
        max-width: 260px;
        position: relative;
        i{
            position: absolute;
            bottom: 20px;
            left: 0px;
            color: $brand-white;
            font-size: 40px;
        }
        .sub-heading a{
            color: $brand-white;
            font-size: 30px;
            margin-left: 30px;
            display: block;
        }
    }
    .section-title{
        font-size: 70px;
        text-transform: capitalize;
    }
  .deliver-inner{
      p{
          font-size: 20px;
      }
  }
}