.delivered-section {
    padding: 120px 0px;
    @extend .overly;

    &::before {
        background: url(../images/components/pot.png)no-repeat top right;
        top: 3%;
    }

    .deliver-heeader {
        max-width: 260px;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        padding-left: 10px;

        img {
            position: absolute;
            bottom: 20px;
            left: 0px;
            color: $brand-white;
            font-size: 40px;
        }

        .sub-heading a {
            color: $brand-white;
            font-size: 30px;
            margin-left: 30px;
            display: block;

            &:hover {
                color: $hover-color;
            }
        }
    }

    .section-title {
        font-size: 70px;
        text-transform: capitalize;

        @media #{$small_device} {
            font-size: 40px;
        }

    }

    .deliver-inner {
        margin-bottom: 50px;

        .section-title {
            margin-bottom: 0px;
            line-height: 1;
        }

        p {
            font-size: 20px;
        }
    }
}

.deliver-card {
    background: $brand-white;
    padding: 30px;
    width: 27.33%;
    float: left;
    margin-right: 28px;
    margin-bottom: 28px;
    position: relative;
    min-height: 235px;
    @include transition;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.03);

    @media #{$small_device} {
        width: 100%;
        margin: 30px 0 20px;
    }

    &:last-child {
        background: transparent;
        border: 8px solid #d6e4ef;
        box-shadow: none;

        a,
        i {
            color: $brand-white;
        }
    }

    .img-wrap {
        @include opacity(0);
        position: absolute;
        right: 0px;
        top: 0px;
        @include transition;
    }

    .more {
        position: absolute;
        right: 40px;
        @include opacity(0);
        @include transition;

        i {
            font-size: 24px;
        }
    }

    h3 a {
        color: #d6e4ef;
        position: absolute;
        text-transform: uppercase;
        bottom: 30px;

        span {
            font-size: 18px;
            text-transform: lowercase;
            display: block;
        }
    }

    &:hover::before {
        @include opacity(1);
    }

    &:hover {
        background: $hover-color;
    }

    &:hover i {
        color: $brand-white;
    }

    &:hover span {
        @include opacity(1);
        right: 30px;
    }

    &:hover .img-wrap {
        @include opacity(1);
    }

}