


  .navbar{
    padding-top: 60px     ;
    .navbar-nav {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      float: none;
      li.nav-item {
        a.nav-link {
          color: #4c5258;
          display: block;
          text-transform: capitalize;
          padding: 40px 22px;
          font-size: 16px;
          font-family: sf-ui-desplay-semibold;
          font-weight: 600;
          &:hover{
            color: $hover-color;
          }
          
        }
        &:last-child a.nav-link{
          padding-right: 0px;
          @media #{$small_device} {
            padding-right: 30px;
          }

          &::before{
            left: 65%;
            @media #{$small_device} {
              left: 50%;
            }

          }
        }
        .dropdown-menu{
          position: absolute;
          min-width: 190px;
          background: $hover-color;
          display: block;
          left: 0;
          margin: 0;
          border: 0;
          opacity: 0;
          padding: 20px 15px;
          visibility: hidden;
          border-radius: 3px;
          overflow: hidden;
          box-shadow: 0 1px 6px rgba(57,73,76,.35);
          -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
          @media #{$small_device} {
            left: 27%;
            top: 30px;
          }
  
          li.nav-item a.nav-link{
            padding: 5px 10px;
            font-size: 15px;
            color: $brand-white;
            &:hover{
              color: $brand-white;
            }
          }
        }
        &.dropdown{
          position: relative;
          a &:after{
            @include transition();
          }
          &:hover .dropdown-menu{
            visibility: visible;
            @include opacity(1);
          }
          @media #{$small_device} {
            &:hover .dropdown-toggle::after {
              transform: rotate(-90deg);
            }

          }

        }
      }
    }
  }

a.navbar-brand {
  max-width: 175px;
}
.header-promo{
  padding: 135px 0px 0;
  h2.promo-title{
    float: left;
    font-size: 50px;
    text-transform: uppercase;
  }
  .promo-link{
    color: $brand-light;
    font-size: 20px;
    text-transform: uppercase;
    float: right;
    &:hover {
      color: $hover-color;
    }
  }
  .hp-wrap{
    margin-top: 100px;
    overflow: hidden;
    padding-bottom: 80px;
  }
}

.platform-promo,.full-promo {
  h2.promo-title{
    float: none;
    text-transform: capitalize;
  }
  p{
    max-width: 40%;
    font-size: 20px;
  }
}
.main-menu{
  @include transition;
  &.sticky {
    background: #e0edf7;
    z-index: 999;
    padding: 0;
    @include transition;
  }
}