.pt-wrap{
    position: relative;
    margin-top: -55px;
    padding: 0px;
    margin-bottom: 40px;
    z-index: 4;
    > div{
        padding: 0px;
    }
    .pt-mobile {
        position: absolute;
        right: -11%;
        top: 0;
        @media #{$small_device} {
            display: none;
        }
      
    }
}
.platform-txt-left{
    position: relative;
    max-width: 65%;
    @media #{$small_device} {
        margin-bottom: 30px;
    }
  
    a{
        font-size: 20px;
        color: $brand-white;
        max-width: 85%;
        img{
            position: absolute;
            right: -70px;
            top: 0px;
            font-size: 40px;
        }
    }
}
.platform-txt{
    p{
        font-size: 20px;
        line-height: 27px;  
        font-family: sf-ui-desplay-semibold;
    }
    span{
        color: $hover-color;
        font-weight: 900;
    }
}
.platforms-tab{
    margin-top: 60px;
    .nav{
        display: inline-block;
        text-align: right;
        border: none;
        @media #{$small_device} {
    text-align: left;
    margin-bottom: 50px;
        }
        .nav-link{
            display: block;
            font-family: sf-ui-desplay-black;
            border: none;
            max-width: 90%;
            text-transform: uppercase;
            &.active {
                color: $hover-color;
                background-color: transparent;
                border: none;
            }
        }
    }
    .tab-content{
        background: $brand-white;
        padding: 60px;
        @media #{$small_device} {
            padding: 30px;
        }
        img{
            margin-bottom: 30px;
            display: block
        }
    }
}