
.testimonial-section{
    position: relative;
    padding-bottom: 100px;
    margin-bottom: 50px;
    @extend .overly;
    &::before{
        background: $brand-white;
        width: 96%;
        left: 50%;
        transform: translateX(-50%);
    }
    .test-bg{
        position: absolute;
        top: 20%;
        right: 0px;
    }
    @media #{$small_device} {
        padding-bottom: 150px;
    }
  
}
.testimonial-wrap{
    max-width: 95%;
    position: relative;
    top: 38%;
    margin: 0 auto;

    padding-top: 150px;
}
.single-quote {
    @extend .clear;
    .quote-brand{
        padding-bottom: 10px;
        img{
            max-width: 15%;
        }
    }
    .quote-thumb {
        float    : left;
        max-width: 245px;
        @media #{$small_device} {
            float: none;
        }
      
        @media #{$tab_device} {
            max-width: 180px;
        }   
        img{
            height: 234px;
            @media #{$tab_device} {
                height: 272px;
            }
            @media #{$small_device} {
                height: auto;
            }
          
        }
    }

    .quote-text {
        background: $hover-color;
        display   : table;
        padding   : 80px 80px 30px;
        @extend .overly;
        @media #{$tab_device} {
            padding: 80px 30px 30px;
        }
        @media #{$small_device} {
            padding: 60px 30px;
        }
      
        &::before{
            content: "\f10d";
            display: table;
            background: transparent;
            color: $brand-white;
            font-family: fontawesome;
            left: 40px;
            font-size: 30px;
            top: 20px;
            
        }
        p{
            font-size: 16px;
            font-family: Georgia;
            font-weight: normal;
            font-stretch: normal;
            font-style: italic;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
        }
        p,.quote-name{
            color: $brand-white;
        }
    }
}
.owl-dots{
    position: absolute;
    top: 0;
    z-index: 99999;
    left: 0;
    @media #{$small_device} {
        display: none
    }
  
    .owl-dot{
        display: inline-block;
        span {
            width: 14px;
            height: 14px;
            background-color: #d6e4ef;
            margin: 5px 7px;
            display: block;
            border-radius: 0px;
        }
        &.active span{
            background-color: $hover-color;
        }
    }
} 
